<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head"></head>
<body class="body">
<div class="icontainer">
    <div class="icontent">
        <div class="iblock imargin-buttom-10">
            <div class="iline iborder-solid-bottom itext-gray">住院信息</div>
            <div class="ipandding-10">
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">患者姓名</div>
                    <div class="ifloat-left iwidth70">许鹏</div>
                </div>
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">身份证号</div>
                    <div class="ifloat-left iwidth70">330621198903256371</div>
                </div>
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">科室名称</div>
                    <div class="ifloat-left iwidth70">儿科</div>
                </div>
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">入院日期</div>
                    <div class="ifloat-left iwidth70">2018-07-01</div>
                </div>
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">出院日期</div>
                    <div class="ifloat-left iwidth70">2018-08-01</div>
                </div>
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">住院号</div>
                    <div class="ifloat-left iwidth70">12345678</div>
                </div>
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">病区名</div>
                    <div class="ifloat-left iwidth70">内科二病区</div>
                </div>
                <div class="iclearfix">
                    <div class="ifloat-left iwidth30 itext-gray">床位号</div>
                    <div class="ifloat-left iwidth70">3</div>
                </div>
            </div>
        </div>
        <div class="iblock imargin-buttom-10">
            <div class="iline" id="history" data-attribute="11">
                <div class="ifloat-left iwidth70">费用结算</div>
                <div class="ifloat-left iwidth20 itext-link itext-right">费用清单</div>
                <div class="ifloat-right iwidth10 itext-right">
                    <img class="iline-image" src="/images/right.png"/>
                </div>
            </div>
            <div class="iline iborder-dashed-top">
                <div class="ifloat-left">费用累计</div>
                <div class="ifloat-right">￥500.00</div>
            </div>
            <div class="iline iborder-dashed-top">
                <div class="ifloat-left">预缴金</div>
                <div class="ifloat-right">￥300.00</div>
            </div>
            <div class="iline iborder-dashed-top">
                <div class="ifloat-left">余额</div>
                <div class="ifloat-right itext-red">-￥200.00</div>
            </div>
        </div>
        <div class="iblock imargin-buttom-10">
            <div class="iline">
                <label class="ifloat-left iwidth30">预缴金额</label>
                <input class="ifloat-left iwidth70 iinput" type="text" name="card"
                       placeholder="输入预缴金额"/>
            </div>
        </div>
    </div>
    <div class="ifooter">
        <div class="itext-center">
            <button class="ibutton" id="btn1">确定</button>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $("#btn1").click(function () {
            window.location.href = "../payment/pay.htm?amount=1";
        });
        // 点击获取详情
        $("#history").click(function () {
            var key = $(this).attr('data-attribute');
            if (key != null && key != "") {
                window.location.href = "../beInHospital/beInHospitalDayList.htm?key=" + key;
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>