<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head"></head>
<body class="body">
<div class="icontent">
    <div class="iblock ipandding-10 iborder-solid-bottom">
        <div class="itext-center">
            <img class="iblock-image" src="/images/failed.png"/>
        </div>
        <div class="iblock-text">请求失败</div>
    </div>
    <div class="iblock">
        <div class="iline" th:text="${message}">未知错误</div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $("title").html("请求失败");
    });
    /*]]>*/
</script>
</body>
</html>