<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head"></head>
<body class="body">
<div class="icontent">
    <div class="iblock ipandding-10 iborder-solid-bottom">
        <div class="itext-center">
            <img class="iblock-image" src="/images/failed.png"/>
        </div>
        <div class="iblock-text">支付异常</div>
    </div>
    <div class="iblock">
        <div class="iline" id="showPaylist">
            <div class="ifloat-left iwidth70">请查看您的支付记录</div>
            <div class="ifloat-left iwidth20 itext-link itext-right">支付记录</div>
            <div class="ifloat-right iwidth10 itext-right">
                <img class="iline-image" src="/images/right.png"/>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        $("title").html("支付异常");
        // 点击获取详情
        $("#showPaylist").click(function () {
            window.location.href = "../payment/payList.htm";
        });
    });
    /*]]>*/
</script>
</body>
</html>