<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout::head"></head>
<body class="body">
<div class="icontent">
    <div class="iblock imargin-buttom-10" th:if="${payList.size()}==0">
        <div class="iline">没有查到相关的信息</div>
    </div>
    <div class="iblock imargin-buttom-10" th:each="pay:${payList}"
         th:attr="data-attr=${pay.orderId},data-amount=${pay.orderAmount}">
        <div class="ipandding-10">
            <div class="iclearfix">
                <div class="ifloat-left iwidth70 itext-gray" th:text="${pay.orderTitle}">门诊缴费</div>
                <div class="ifloat-right iwidth30 itext-right">￥<span th:text="${pay.orderAmount}">0.01</span>元</div>
            </div>
            <div class="iclearfix">
                <div class="ifloat-left iwidth70 itext-gray"
                     th:text="${#dates.format(pay.updateTime, 'yyyy-MM-dd HH:mm:ss')}"> 2018-08-01 13:21:21
                </div>
                <div class="ifloat-right iwidth30 itext-right" th:if="${pay.orderStatus}==0">订单已完成</div>
                <div class="ifloat-right iwidth30 itext-right" th:if="${pay.orderStatus}!=0">请求退款</div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function () {
        // 页面标题
        $("title").html("支付列表");
        $(".iblock").click(function () {
            var orderId = $(this).attr('data-attr');
            var refundAmount = $(this).attr('data-amount');
            if (orderId != null && orderId != "") {
                console.info("2");
                $.post("../api/payRefund.htm", {
                    orderId: orderId,
                    refundType: 1,
                    refundAmount: refundAmount
                }, function (res) {
                    console.info("324");
                    console.info(res);
                    if (res.returnCode == 200) {
                        window.location.reload();
                    } else {
                        layer.msg(res.returnInfo);
                    }
                });
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>